div, p, span, body, li, ul, img, table, tr, td {
  min-width:1px;
  min-height:1px;
  margin:1px;
  padding:1px;
  border-width:1px;
  /*border-color:black;*/
border: 1px solid;
}

div {
  border-color: grey;
}
p {
  border-color:blue;
}
span {
  border-color: yellow;
} 
ul {
  border-color: green;
} 
li {
  border-color: green;
} 